

.header{
    background:#e7e6e6;
    padding: 10px 50px;
}
.header img{
    width: 80px;
}
.header{}
.header ul{}
.header ul li{

}
.header ul li a{}
.header ul li a:hover{
    background: #0d6efd !important;
}